@page
@model WebDevelopmentAssessment.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Users";
}

<h1>Browing Users</h1>

<p>
    <a asp-page="Create">Create an account</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].ProfilePicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].PasswordHash)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                <div>
                    <img src="@item.ProfilePicture" width="64" height="64">
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <label>Restricted Content</label>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UserID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.UserID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.UserID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
